body {
	margin: 0;
	padding: 0;

}

h1 {
	font-size: 60px;

}

h3 {
	color: purple;

}


#spani {
	color: #E03D16;
	font-size: 70px;

}

.display {
	display: flex;

}

.half-width {
	width: 50%;
	padding: 2%;
}

.text-btn {
	text-decoration: none;
	background-image: linear-gradient(orange, tomato);
	color: white;
	font-weight: 700;
	padding: 10px 40px;
	border-radius: 20px;

}

.top-banner {
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
}

.dream-bg {
	background-image: url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}

.experience-item {
	width: 40%;
	margin-left: 5%;
	padding-left: 20px;
	box-shadow: 10px 10px 40px gray;
	border-radius: 10px;
	border-left: 7px solid royalblue;
}

.experience-item1 {
	width: 40%;
	margin-left: 5%;
	padding-left: 20px;
	box-shadow: 10px 10px 40px gray;
	border-radius: 10px;
	border-left: 7px solid royalblue;
}

.copy {
	text-align: center;
	margin-top: 20px;
}

#jwd {
	border-left: 7px solid orangered;
}

.exp-bg {
	background-image: url(images/exp-bg.png);
	background-repeat: no-repeat;
	background-position: left;
}


/* Responsive Media Query */

/* For Mobile Device */
@media screen and (max-width:576px) {
	.display {
		display: flex;
		flex-direction: column;
	}

	.half-width {
		width: 90%;
		padding: 5%;
	}

	.dream-bg {
		background-image: url(images/dream-bg.png);
		background-repeat: no-repeat;
		background-position: right;
	}


	.experience-item {
		width: 40%;
		margin-left: 30%;
		padding: 20px;
		box-shadow: 10px 10px 40px gray;
		border-radius: 10px;
		border-left: 7px solid royalblue;
	}


	.experience-item1 {
		width: 40%;
		margin-left: 30%;
		margin-top: 20px;
		padding: 20px;
		box-shadow: 10px 10px 40px gray;
		border-radius: 10px;
		border-left: 7px solid royalblue;
	}
}

/* For Medium Device or Tablet */
@media screen and (max-width:992px) and (min-width:576px) {
	.display {
		display: flex;

	}

	.half-width {
		width: 80%;
		padding: 5%;
	}
}